<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MiniRegression"  parallel="classes" thread-count="1">
    <parameter name="浏览器" value="${browserName}" />
    <test enabled="false" verbose="2" name="1" preserve-order="true">
        <parameter name="测试场景" value="${sceneName}" />
        <classes>
            <class name="com.sevenstar.testcases.场景用例">
            </class>
        </classes>
    </test>
</suite> <!-- Default suite -->